@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #0B1220;
  color: #E5E7EB;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}
